<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caffee reviews</title>
</head>
<body>
    <header style="display: flex; flex-direction: row; align-items: center;gap: 10px;">
        <a href="{% url 'index' %}" style="appearance: none; text-decoration: none; color: black;"><h1>Reviews system for caffee</h1></a> <br>
        <a href="{% url 'reviews' %}">Reviews</a>
        <a href="{% url 'create_review' %}">Create review</a>
    </header>
    <hr>

    {% block content %}

    {% endblock %}
</body>
</html>